*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    /* background: url('../IMAGES/gw1.jpg'); */
    background-attachment: fixed;
    background-color: #16213E;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mukta', sans-serif;
}
header {
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.right {
    margin-right: 50px;
}

.left img{
    width: 140px;
    margin-left: 50px;
    order: 2;
}

.right button{
    /* margin-top: 15px; */
    margin-right: 15px; 
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    /* border-radius: 15px; */
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}
.right button:hover{
    background-color: grey;
}
.navbar{
    display: inline-block;
    background: transparent;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
    background: transparent;

}
.navbar li a{
    transition: all 0.3s ease;
    color: white;
    background: transparent;
    text-decoration: none;
    padding: 10px 40px 10px 20px ;
}
.navbar li a:hover{
    color:grey;
    /* font-size: 1.4rem; */
    /* text-decoration: underline; */
}

.bg{
    z-index: -1;
}

.container1{
    /* width: 600px; */
    height: 100vh;
    background-color: bisque;
}

@media (min-aspect-ratio : 16/9){
    .bgvid{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio : 16/9){
    .bgvid{
        width: auto;
        height: 100%;
    }
}

.container{
    display: flex;
    flex-direction: row;
    height: 50px;
    position: fixed;
    justify-content: flex-end;
    width: 100vmax;
    background-color: transparent;
}

.container a{
    justify-content: center;
    flex-basis: 150px;
    align-items: center;
    padding: 12px 0px 0px 17px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.logo1 {
    align-self: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    width: 90px;
    padding: 0;
    height: 60px;
}

.container1 > a{
    cursor: pointer;
}